<div id="config-panel" class="crud-panel">
    <h2>Configurações</h2>
    <br/>
    <div class="input-field col s6" style="width: 99%;">
        <input id="valor-inicial-cc" type="text" class="validate monetario">
        <label for="valor-inicial-cc">Valor inicial da conta-corrente</label>
        <span class="helper-text" data-error="Informe o inicial da conta-corrente da empresa"></span>
    </div>
</div>

<div id="salvar-btn" class="floating-action-button"><i class="fas fa-save"></i></div>

<script>require('../renderer/configuracoesRenderer')</script>
