<div id="dashboard-panel">
    <div style="min-width: 400px; height: 200px;">
        <span class="titulo-card">Saldo</span>
        <div id="saldo-panel">

        </div>
    </div>
    <div style="min-width: 400px; height: 200px;">
        <span class="titulo-card">Gastos futuros</span>
        <div id="gastos-futuros-panel">
            <table id="gastos-futuros-table">
                <tr>
                    <th style="text-align: left;">Descrição</th>
                    <th style="width: 100px;">Data</th>
                    <th style="width: 120px; text-align: right;">Valor</th>
                </tr>
            </table>
        </div>
    </div>
    <div style="min-width: 400px; height: 200px;">
        <span class="titulo-card">Próximas encomendas</span>
        <div id="proximas-encomendas-panel">
            <table id="proximas-encomendas-table">
                <tr>
                    <th style="text-align: left;">Descrição</th>
                    <th>Cliente</th>
                    <th style="width: 100px;">Entrega</th>
                </tr>
            </table>
        </div>
    </div>
    <div style="min-width: 400px; height: 200px;">
        <span class="titulo-card">Alertas de estoque</span>
        <div id="alertas-estoque-panel">
            <table id="alertas-estoque-table">
                <tr>
                    <th style="text-align: left;">Descrição</th>
                    <th style="width: 100px;">Estoque</th>
                    <th style="width: 100px;">Mínimo</th>
                    <th style="width: 100px;">Déficit</th>
                </tr>
            </table>
        </div>
    </div>
    <div style="min-width: 800px; height: 270px;">
        <span class="titulo-card">Histórico de balanços</span>
        <canvas id="historico-balancos-panel" width="1000px" height="200px">

        </canvas>
    </div>
</div>

<script>require('../renderer/dashboardRenderer')</script>