<div id="despesas-panel" class="crud-panel">
    <h2>Despesas</h2>
    <table>
        <tr>
            <th style="text-align: left;">Descrição</th>
            <th style="text-align: left;">Tipo</th>
            <th style="text-align: left;">Data</th>
            <th style="text-align: right;">Valor</th>
        </tr>
        <tr>
            <td>Valor 1</td>
            <td>Valor 2</td>
            <td>Valor 3</td>
            <td style="text-align: right;">Valor 4</td>
        </tr>
        <tr>
            <td>Valor 1</td>
            <td>Valor 2</td>
            <td>Valor 3</td>
            <td style="text-align: right;">Valor 4</td>
        </tr>
        <tr>
            <td>Valor 1</td>
            <td>Valor 2</td>
            <td>Valor 3</td>
            <td style="text-align: right;">Valor 4</td>
        </tr>
        <tr>
            <td>Valor 1</td>
            <td>Valor 2</td>
            <td>Valor 3</td>
            <td style="text-align: right;">Valor 4</td>
        </tr>
        <tr>
            <td>Valor 1</td>
            <td>Valor 2</td>
            <td>Valor 3</td>
            <td style="text-align: right;">Valor 4</td>
        </tr>
        <tr>
            <td>Valor 1</td>
            <td>Valor 2</td>
            <td>Valor 3</td>
            <td style="text-align: right;">Valor 4</td>
        </tr>
    </table>
</div>

<div id="filter-despesa-btn" class="floating-filter-button">x</div>
<div id="action-despesa-btn" class="floating-action-button">+</div>

<script>require('./renderer/despesasRenderer')</script>
