<div id="fluxo-caixa-panel" class="crud-panel">
    <h2>Fluxo de Caixa</h2>
    
    <div class="filtro input-field col s6">
        <input id="filtro" type="text" max="100">
        <label for="filtro">Filtro</label>
    </div>

    <table id="fluxo-caixa-table">
        <tr>
            <th style="width: 70px;">ID</th>
            <th style="text-align: left;">Descrição</th>
            <th style="width: 100px;">Tipo</th>
            <th style="width: 200px;">Categoria</th>
            <th style="width: 100px;">Data</th>
            <th style="width: 150px; text-align: right;">Valor</th>
            <th style="width: 50px;"></th>
        </tr>
    </table>
</div>

<div id="action-btn" class="floating-action-button"><i class="fas fa-plus"></i></div>

<div id="fluxo-caixa-crud-shield" class="shield">
    <div class="crud-form-panel">
        <form id="fluxo-caixa-form">
            <h5 id="titulo-form"></h5>
            <input id="fluxo-caixa-id" type="hidden"/>
            <p>
                <label style="margin-right: 40px;">
                    <input name="tipoFluxo" type="radio" value="C" checked />
                    <span>Receita</span>
                </label>
                <label>
                    <input name="tipoFluxo" type="radio" value="D" />
                    <span>Despesa</span>
                </label>
            </p>
            <div class="input-field col s6">
                <input id="desc" type="text" class="validate" required>
                <label for="desc">Descrição</label>
                <span class="helper-text" data-error="Informe a descrição"></span>
            </div>
            <div class="input-field col s6">
                <input id="categoria" type="text" class="autocomplete" required>
                <label for="categoria">Categoria</label>
                <span class="helper-text" data-error="Informe a categoria"></span>
            </div>
            <div class="input-field col s6">
                <input id="data" type="text" class="datepicker" required>
                <label for="data">Data</label>
                <span class="helper-text" data-error="Informe a data"></span>
            </div>
            <div class="input-field col s6">
                <input id="valor" type="text" class="validate monetario" required>
                <label for="valor">Valor</label>
                <span class="helper-text" data-error="Informe o valor"></span>
            </div>
        </form>
    </div>
</div>

<script>require('../renderer/fluxoCaixaRenderer')</script>