<div id="fornecedores-panel" class="crud-panel">
    <h2>Fornecedores</h2>
    
    <div class="filtro input-field col s6">
        <input id="filtro" type="text" max="100">
        <label for="filtro">Filtro</label>
    </div>

    <table id="fornecedores-table">
        <tr>
            <th style="width: 70px;">ID</th>
            <th style="text-align: left;">Nome</th>
            <th style="width: 100px;">Tipo</th>
            <th style="width: 70px;">Online?</th>
            <th style="width: 130px;">Telefone</th>
            <th style="width: 200px;">E-mail</th>
            <th style="text-align: left;">Site</th>
            <th style="width: 50px;"></th>
        </tr>
    </table>
</div>

<div id="action-fornecedor-btn" class="floating-action-button"><i class="fas fa-plus"></i></div>

<div id="fornecedor-crud-shield" class="shield">
    <div class="crud-form-panel">
        <form id="fornecedor-form">
            <h5 id="titulo-form"></h5>
            <br/>
            <input id="fornecedor-id" type="hidden"/>
            <div class="input-field col s6">
                <input id="nome" type="text" class="validate" max="200" required>
                <label for="nome">Nome</label>
                <span class="helper-text" data-error="Informe um nome de até 200 caracteres"></span>
            </div>
            <div class="input-field col s12" style="margin-bottom: 41px;">
                <select id="tipo" required>
                    <option value="">Escolha uma opção</option>
                    <option value="Embalagens">Embalagens</option>
                    <option value="Gráfica">Gráfica</option>
                    <option value="Molduraria">Molduraria</option>
                    <option value="Outros">Outros</option>
                    <option value="Papelaria">Papelaria</option>
                </select>
                <label>Tipo</label>
                <span class="helper-text" data-error="Selecione um tipo de fornecedor"></span>
            </div>
            <p>
                <label style="margin-right: 40px;">
                    <input name="tipoFornecedor" type="radio" value="1" checked />
                    <span>Online</span>
                </label>
                <label>
                    <input name="tipoFornecedor" type="radio" value="0" />
                    <span>Loja física</span>
                </label>
            </p>
            <br/>
            <div class="input-field col s6">
                <input id="telefone" type="text" class="validate" max="20" required>
                <label for="telefone">Telefone</label>
                <span class="helper-text" data-error="Informe um telefone no formato (xx) xxxxx-xxxx"></span>
            </div>
            <div class="input-field col s6">
                <input id="email" type="text" class="validate" max="100" required>
                <label for="email">E-mail</label>
                <span class="helper-text" data-error="Informe o e-mail com até 100 caracteres"></span>
            </div>
            <div class="input-field col s6">
                <input id="site" type="text" class="validate" max="200" required>
                <label for="site">Site</label>
                <span class="helper-text" data-error="Informe a URL do site com até 200 caracteres"></span>
            </div>
        </form>
    </div>
</div>

<script>require('../renderer/fornecedoresRenderer')</script>
